body {
    width: 1440px;
    height: 819.574px;
    flex-shrink: 0;
    background: url(stars.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
}

.privacy-shield {
    width: 816px;
    height: 816px;
    position: absolute;
    top: -408px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(180deg, #0E7BF8 0%, rgba(14, 123, 248, 0.00) 86.35%);
    filter: blur(200px);
}

.user-greeting {
    width: 249px;
    height: 108px;
    position: absolute;
    top: 215px;
    left: 67px;
    color: #FFF;
    font-family: 'Onest', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 61.2px;
    text-align: left;
}

.user-role {
    width: 402px;
    height: 61px;
    position: absolute;
    top: 378px;
    left: 67px;
    color: #0A7CFF;
    font-family: 'Onest', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 61.2px;
    text-align: left;
}

.user-mission, .user-skills {
    width: 691px;
    height: 293px;
    position: absolute;
    left: 62px;
    color: #FFF;
    font-family: 'Onest', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.5px;
    text-align: left;
}

.user-mission {
    top: 456px;
}

.user-skills {
    top: 600px;
}

.contact-button {
    display: inline-flex;
    max-width: 346.44px;
    padding: 16px 28px 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 48px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.00) 100%), #0A7CFF;
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset, 0px 1px 3px 0px rgba(10, 124, 255, 0.24), 0px 2px 6px 0px rgba(10, 124, 255, 0.24), 0px 4px 8px 0px rgba(10, 124, 255, 0.12), 0px 16px 32px -8px rgba(10, 124, 255, 0.48);
    width: 188.5px;
    height: 56px;
    position: absolute;
    top: 721px;
    left: 62px;
}

.contact-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.contact-button span {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contact-info {
    width: 1870px;
    height: 254px;
    flex-shrink: 0;
    background: #1E202E;
    position: absolute;
    top: 1000px;
    left: 0;
}

.contact-text {
    color: #FFF;
    font-family: 'Onest', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 20px;
    left: 20px;
}

.contact-svg {
    width: 139px;
    height: 40px;
    flex-shrink: 0;
    position: absolute;
    top: 100px;
    left: 20px;
}
.user-name {
    color: #FFF;
    text-align: center;
    font-family: Onest;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 133px;
    height: 26px;
    position: absolute;
    top: 1400px;
    left: 71px;
    gap: 0px;
}
.about-me {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 301px;
    height: 82px;
    position: absolute;
    top: 1440px;
    left: 71px;
    gap: 0px;
}
.about-text-1, .about-text-2 {
    width: 691px;
    height: 293px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Onest;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 71px;
}

.about-text-1 {
    top: 1530px;
}

.about-text-2 {
    top: 1666px;
}
.contact-button {
    display: inline-flex;
    max-width: 346.44px;
    padding: 16px 28px 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 48px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.00) 100%), #0A7CFF;
    box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset, 0px 1px 3px 0px rgba(10, 124, 255, 0.24), 0px 2px 6px 0px rgba(10, 124, 255, 0.24), 0px 4px 8px 0px rgba(10, 124, 255, 0.12), 0px 16px 32px -8px rgba(10, 124, 255, 0.48);
    width: 188.5px;
    height: 56px;
    position: absolute;
    top: 1800px; 
    left: 62px;
}

.contact-button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.contact-button span {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.image-border {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 1400px;
    left: 1100px;
    border-radius: 400px;
    border: 9px solid #0A7CFF;
    background: #000;
}

.image-border img {
    width: 100%;
    height: 100%;
    border-radius: 400px;
    object-fit: cover;
}
.bottom-section {
    width: 1870px;
    height: 83px;
    flex-shrink: 0;
    background: #1E202E;
    position: absolute;
    top: 2100px;
    left: 0;
}
.skills {
    display: flex;
    width: 328px;
    height: 64px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Onest;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 2300px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.skills-box {
    width: 347px;
    height: 331px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #1E1E1E;
    position: absolute;
    top: 2500px;
    right: 1300px;
}
.skills-box img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.skills-title {
    color: #FFF;
    text-align: left;
    font-family: Onest;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 130px;
    left: 35px;
    width: 100%;
}

.creativity-text {
    display: flex;
    width: 240px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0A7CFF;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 160px;
    left: 35px;
    text-align: left;
}
.html-text {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 240px;
    left: 50px;
    transform: translateX(-50%);
}
.html-beam {
    width: 132px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #0A7CFF;
    position: absolute;
    top: 245px;
    left: 100px;
}
.html-percent {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 240px;
    left: 250px;
}
.css-text {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 280px;
    left: 50px;
    transform: translateX(-50%);
}
.css-beam {
    width: 132px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #0A7CFF;
    position: absolute;
    top: 285px;
    left: 100px;
}
.css-percent {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 280px;
    left: 250px;
}
.design-box {
    width: 347px;
    height: 331px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #1E1E1E;
    position: absolute;
    top: 2500px;
    left: 50%;
    transform: translateX(-50%);
}
.figma-box img {
    width: 62px;
    height: 62px;
    flex-shrink: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.figma-title {
    color: #FFF;
    text-align: left;
    font-family: Onest;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 130px;
    left: 35px;
    width: 100%;
}

.figma-text {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 160px;
    left: 110px;
    transform: translateX(-50%);
}
.figma-beam {
    width: 132px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #0A7CFF;
    position: absolute;
    top: 245px;
    left: 100px;
}
.figma-percent {
    color: #0A7CFF;
    text-align: center;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    top: 240px;
    left: 250px;
}
